@keyframes typing {
    from { width: 0; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.typing-demo {
    width: 19ch;
<<<<<<< HEAD
    animation: typing 1.8s steps(17), blink .5s step-end infinite alternate;    white-space: nowrap;
=======
    animation: typing 3s steps(40), blink .5s step-end infinite alternate;
    white-space: nowrap;
>>>>>>> e1d1e64d88e289618bdf62ade8798aa54334ae12
    overflow: hidden;
    border-right: 4px solid white;
}

.bg-typing {
    background: linear-gradient(rgba(1, 77, 161,0.7), rgba(1, 77, 161,0.7), rgba(1, 77, 161,0.7));
    border-radius: 30px;
    padding: 0.5rem;
}

.bg-news:hover {
    background-color: rgb(242, 109, 33);
}
                
        