@keyframes typing {
    from { width: 0; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

.typing-demo {
    width: 15ch;
    animation: typing 3s steps(40), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 6px solid white;
    border-left:6px solid white;
}

.bg-typing {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
    border-radius: 30px;
    padding: 0.5rem;
}

.bg-news:hover {
    background-color: rgb(242, 109, 33);
    border-radius: 5px;
    transform: scalex(1.1);
    color: white;
    transition: all 0.5s;
    height: fit-content;
    /* animation-play-state: paused; */
}

.bg-news-back:hover{
    animation-name: slidein;
    animation-play-state: paused;
}

.bg-news-back {
    animation-duration: 30s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    overflow: hidden;
}

@keyframes slidein {
from {
    translate: 100rem;
}

to {
    translate: -100rem;
}
}


.slider{
  height: 350px;
  position:relative;
  width: 90%;
  display: grid;
  place-items: center;
  /* overflow: hidden; */
}

.slide-track{
  display: flex;
  width: calc(500px *18);
  height: 400px;
  animation: scroll 40s linear infinite;
}
.slide{
  height: 400px;
  width: 550px;
  display: flex;
  align-items: center;
  padding:15px 50px;
  perspective: 200px;
  z-index:-1;
}

.slide img{
  width: 100%;
  transition: transform 1s;
  z-index:5;
  height: 280px;
}

/* Gradient shadows */


.slider::before {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 120%;
  position: absolute;
  width: 15%;
  z-index: 5;
}
.slider::after {
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 120%;
  position: absolute;
  width: 15%;
  z-index: 5;
  right: -155px;
  top: px;
}

.slider::before{
  left: 0px;
  top: px;
}

.slide-track:hover{
  animation-play-state: paused;
  /* box-shadow: 20px solid black; */
}
@keyframes scroll{
  0%{
    transform:translateX(0);
  }
  100%{
    transform:translateX(calc(-250px * 18));
  }
}

.image-animation{
  height: 400px;
}

.homepage-bg{
    background: linear-gradient(rgba(108, 150, 245, 0.6),
     rgba(108, 150, 245, 0.6)),url('../assets/library-view.png');
}