h2 {
    color: #014da1;
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
    font-weight: 700;
}

label {
    /* font-weight: bold; */
    margin-bottom: 5px;
    display: block;
    font-size: 1.5rem;
    line-height: 2rem;
}

input, select, textarea {
    width: 98%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #014da1;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

input[type="submit"]:hover {
    background-color: #f26d21;
}